.eazy-win {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-color: rgb(249, 249, 249);
    box-shadow: rgb(92 128 255 / 12%) -200px 0px 200px, rgb(168 255 128 / 12%) 140px 50px 100px;
    &-header {
        height: 28px;
        display: flex;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
    }

    &-body {
        padding: 8px;
    }
}

.win-controll-container {
    display: flex;
}

.win-controll {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 6px;
    &-close {
        background-color: rgb(238, 108, 94);
    }
    &-min {
        background-color: rgb(246, 191, 80);
    }
    &-full {
        background-color: rgb(98, 198, 85);
    }
}