.action-item {
    // padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    cursor: pointer;
    :global {
        .anticon {
            font-size: 24px;
        }
    }
}

.action-item_active {
    background-color: #000000;
}

.ActionBar {
    display: flex;
    gap: 10px;
}